


<div class="login_container">
  <div class="ui centered stackable grid">
    <div class="six wide column">
      <div class="logo"></div>
      <div class="ui segments" align="center">
        <div class="ui segment">
          <%= simple_form_for 'verify', as: 'verify', url: users_sms_verify_path, html: { id: 'registration_form', novalidate: true, class: 'ui form' } do |f|  %>
            <div class="field">
              <div class="ui left icon input">
                <%= f.input_field :mobile,autofocus: true, placeholder: '手机号码' %>
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <%= f.input_field :sms_verify_number, placeholder: '验证码' %>
                <i class="lock icon"></i>
              </div>
            </div>
             <!-- 这个需要改成simple_form的标签，暂放 -->
            <input id="send_sms" class="ui big fluid blue icon button login_btn" type="button" value="获取验证码"><br>
            <input id="sms_verify" class="ui big fluid blue icon button login_btn" type="button" value="下一步">
          <% end %>
          <div style="background:#EDEDED;font-size:12px;">
             <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'sms', 'data-turbolinks-track' => true %>


<script type="text/javascript">
  $("#notice").on("DOMNodeInserted",function(){
    $("#notice").slideDown(500).delay(1000);
  })

  $(".close").on("click",function(){
    $("#notice").slideUp(1000);
    $("#notice").html("");
  })
</script>

