<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <!-- <img src="" class="img-circle" alt="User Image"> -->
        <%= image_tag current_user.head_img, class: 'img-circle' if current_user%>
      </div>
      <div class="pull-left info">
        <p><%= current_user.show_name if current_user%></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
  <!-- sidebar -->
  <ul class="sidebar-menu">
       
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>用户</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 角色管理</a></li>
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> 权限管理</a></li>
          </ul>
        </li>
        <li><a href="<%= shops_path%>"><i class="fa fa-book"></i> <span>商铺</span></a></li>
        <li><a href="<%= orders_path%>"><i class="fa fa-book"></i> <span>订单</span></a></li>
        <li><a href="<%= products_path%>"><i class="fa fa-book"></i> <span>产品</span></a></li>
        <li><a href="<%= oauth_applications_path%>"><i class="fa fa-book"></i> <span>授权</span></a></li>
        <li><a href="#"><i class="fa fa-book"></i> <span>店铺审批</span></a></li>
      </ul>
  </section>
  <!-- /.sidebar -->
</aside>
