<%
   paths = atta.show_attaimg_paths
   imgPath = paths[0]
   simgPath = paths[1]
   showPath = paths[2]

%>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 new-task-file-img-padding-5" id="attachments_<%= atta.id %>">
  <div class="new-file-img-box">
    <div class="new-file-box-img">
      <% if showPath %>
          <%= image_attach_to(atta, "link") %>
      <% else
      %>
          <%= image_attach_to(atta, "image") %>
      <%
         end
      %>
    </div>
    <div class="new-file-box-information clearfix">
      <div class="new-file-box-information-title">
        <a href="#" title="<%= atta.file_name %>"><%= atta.file_name %></a>
      </div>
      <div class="new-file-box-information-size">
        <div class="new-file-box-information-size-size">
          <p><%= number_to_human_size atta.file_size %></p>
        </div>
      </div>
      <div class="new-file-box-information-tool">
        <div class="new-file-box-information-item" data-attach-operate="<%= atta.id %>">
          <a href="javascript:void(0);">
            <%= image_tag "hide-icon-hui.png" %>
          </a>
        </div>
        <div class="new-file-box-information-hide" style="display:none;" id="atta_operate_<%= atta.id %>">
          <div class="new-file-box-information-item">
            <%= link_to(image_tag("download-icon-black.png", alt: "",title: "下载"), downloadfile_path(atta), type: "no-loading") %>
          </div>
          <div class="new-file-box-information-item">
            <%
               #if atta.user_id == current_user.id || current_user.id == @project.user.id
               if can? :destroy, atta
            %>
                <div class="new-file-box-information-item">
                  <%= link_to(image_tag("delete-icon-black.png", alt: "",title: "删除"), nil, {href: "javascript:void(0)", onclick: "deleteObjData('attachments','#{atta.id}','#{@task.id}')", type: "no-loading"}) %>
                </div>
            <%
               end
            %>
          </div>
          <div class="new-file-box-information-item-right">
            <%= link_to("/attachments/#{atta.try(:id)}", "data-toggle" => 'popover', role: "button", title: "评论", "data-html" => true, "data-content" => '', template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>', remote: true, onclick: "prePopover(this)") do %>
                <%= image_tag "chat-icon-black.png", alt: "" %>
                <span>(<c id="attach_comments_count_<%= atta.id %>"><%= atta.comments_count.nil? ? 0 : atta.comments_count %></c>)</span>
            <% end %>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>