<!DOCTYPE html>
<html>
	<head>
	  <title>商品平台</title>
    <meta name="turbolinks-cache-control" content="no-cache">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="skin-blue sidebar-mini" class="skin-yellow">
		<!-- Site wrapper -->
    <div class="wrapper">
      <!-- The top header -->
      <%=render 'shared/main_header'%>
      <!-- Left side column. contains the sidebar -->
      <%=render 'shared/main_sidebar' %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        <!-- Main content -->
        <section class="content">
          <%= yield %>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <!-- The bottom footer -->
      <%=render 'shared/main_footer'%>
      <!-- The right style sidebar -->
      <%=render 'shared/control_sidebar'%>
    </div><!-- ./wrapper -->

<%= javascript_include_tag 'adminlte', 'data-turbolinks-track' => true %>
	</body>
	
</html>
